<!-- shared/components/paginador/paginador.html -->
<div class="paginador">
  <!-- Anterior -->
  <button 
    class="btn-pagina"
    [disabled]="paginaActual === 1"
    (click)="irAPagina(paginaActual - 1)"
  >
    Anterior
  </button>

  <!-- Página actual -->
  <span class="texto-pagina">
    Página {{ paginaActual }}
    @if (ultimaPagina > 1) {
      <span class="total-paginas">de {{ ultimaPagina }}</span>
    } 
  </span>

  <!-- Siguiente -->
  <button 
    class="btn-pagina"
    [disabled]="paginaActual === ultimaPagina"
    (click)="irAPagina(paginaActual + 1)"
  >
    Siguiente
  </button>
</div>